@import "tailwindcss";

body {
    background-color: #0d1117;
    color: white;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}